gitconfig.local
node_modules/

# Python library
src/pokemon

# Ignore unnecessary or sensitive files under $HOME/.config
config/anyenv/
config/pulse/
config/iterm2/
config/configstore/update-notifier-zenn-cli.json
config/configstore/zenn-cli.json
config/configstore/update-notifier-npm.json
config/systemd/
config/gh/
config/ookla/
# This is a binary
config/nordvpn/nordvpn.conf
config/nordvpn/cli.log

# WIP
config/karabiner/

vendor/
