gitconfig.local
node_modules/

# Python library
src/pokemon

config/anyenv/
config/pulse/
config/iterm2/
config/configstore/update-notifier-zenn-cli.json
config/configstore/update-notifier-npm.json
config/systemd/

# WIP
config/karabiner/
