[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.8'

[packages]
atcoder-tools = '*'
pokemon = { git = 'https://github.com/LazoCoder/Pokemon-Terminal.git', editable = true }
mackup = '*'
